/* 
.gridline-x, .gridline-y {
  z-index: 4;
  stroke: white;
  stroke-width: 0.1;
}

.webgl-plot-area {
  background-color: hsl(276.9,41.9%,20%);

}

.domain {
  stroke: white;
}

.tick > text {
  stroke: white;
  fill: white;
  outline: 0;
  font-family: 'Barlow', 'sans-serif';
  stroke-width: 0;
}
.tick > path{
  stroke: white;
  fill: white;
}

/* .y-label {
  transform: rotate(-90)
} */
/*
.selected {
  background-color: rgba(255,255,255,0.1),
};

#legend {
  position: relative;
  display: block;
  stroke: white;
  fill: white;
  stroke-width: 0px;
  font-size: 0.75rem;
} */

.uplot {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin-bottom: 2rem;
}

.u-title {
  flex-basis: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 1.25rem;
}

.u-wrap {
  position: relative;
  color: 'white';
  flex-basis: 80%;
  flex-grow: 2;

}


.u-under, .u-axis {
  position: absolute;

}

.u-wrap > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 450px;
  color: 'white'

}

.u-legend {
  /* width: 15vw; */
  flex-basis: 10%;
  font-size: 0.75rem;

}

.u-label {
  font-weight: 400;

}

.u-value {
  display: none
}

@media only screen and (max-width: 600px) {
  .u-legend { 
    flex-basis: 20%;
  }

  .u-wrap {
    flex-basis: 80%;
  }
}

